body, html {
    margin: 0;
    font-size: 20px;
    height: 100%;
    background-color: rgb(195, 219, 223); 
    scroll-behavior: smooth;
    font-family: 'Staatliches', cursive;
    padding-top: 35px;
}
header {
    
}
main {
    top: 0px;   
}
.navbar{
    overflow: hidden;
    background-color:rgb(56, 122, 194);
    display: block;
    top: 0;
    font-family: 'Staatliches', cursive;
}
.navbar-brand{
    text-transform: uppercase;
    height: 50px;
}
.logo {
    height: 55px;
    padding-bottom: 15px;  
}
.nav-link {
    color:rgb(88, 167, 36);
}
a:active {
    color: lightslategrey;
}
a:visited {
    color: rgb(195, 219, 223);;    
}
li a:hover {
    color: olive;
}
.container-fluid {

}
.container-text-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    padding-top: 10px;
    text-align: center;
    color: whitesmoke;
}
.handlebar {
    background-image: url('../images/gopro.jpeg');
    background-size: cover;
    background-position: center center;
    background-attachment:scroll;
    background-color: olive;;
    min-width: 100%;
    min-height: 100%;
    height:600px;
    top: 0px;
}
.btn {
    font-size: 15px;
    padding-top: 60px;

}
.container-intro {
    background-color: rgb(56, 122, 194);
    padding-top: 30px;
    max-width: 1200px;
    font-family: 'Staatliches', cursive;
    position: relative;
    color: rgb(195, 219, 223);
    text-align: justify;
}
.section1{
    padding-top: 80px;
    padding-bottom: 0px;
}
.section2 {
    color: rgb(56, 122, 194);
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.border {
    padding: 10px;   
}
.toTop {
    width: 100%;
    height: 300vh;   
}
.goTopBtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: black;
    bottom: 40px;
    right:50px;
}
.container-footer {
    background-image: url('../images/sanmateo.jpg');
    background-size: cover; 
    max-height: 650px;
    background-position: center center;
    background-attachment:scroll;
    background-color: olive;
    max-width: 100%;
    margin-bottom: initial;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn-footer {
    padding-top: 90px;
    padding-bottom: 30px;
}
.fab  {
    font-size: 1.5rem;
    color: white;
}
.fas {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 1.4rem;
    color: white;
}
.container-icons{
    padding-left: 2px;
    padding-right: 2px;
    justify-content: center;
    font-size: 2rem;
    color: white;
}
.container-list {
    font-size: 20px;
    padding-top: 10px;
    justify-content: center;
    gap: 250px;
    padding-bottom: 0px;
}
.icon-space {
    gap: 20px;
}
.list {
    color: white;
    text-decoration: none;
}
footer {
    bottom: 0px;
}
@media only screen and (min-width: 576px) {
    
    }
}
.page-title{
    color: rgb(56, 122, 194);
    text-align: start;
    padding: 30px;
}
h1 {
    color: rgb(56, 122, 194);
    text-align: start;
    padding: 30px;
}
.slideshow-1 {
    background-color: rgb(56, 122, 194);
    color: rgb(195, 219, 223);
    padding-top: 30px;
    width: 1200px;
    height: 600px;
    padding-top: 30px;
    padding-left: 30px;
    align-items: center;
    font-size: 15px;
  }
  .bottom-form{
    padding: 70px;   
}
.btn-web{
    
}